*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.welcome {
    min-height: 50vh;
    background-image: url(../../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.jumbotron {
    background-color: rgba(240, 240, 240, 0.9);
    margin: 50px 0;
}

.navbar {
    margin: 0;
}

footer {
    background-color: #222;
    color: white;
    padding: 30px 0;
}

.login-form,
.signup-form,
.reset-form,
.reset-email-form {
    max-width: 400px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 6px;
    margin: 50px auto;
}

.login-page,
.signup-page,
.reset-page,
.reset-email-page {
    background-image: url(../../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    align-items: stretch;
    width:100%;
    flex: 1;
}

#spotlight, #projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 1450px;
}

.spotlight-item, .project {
    margin: 0 15px 25px 15px;
}

.project-top {
    background-image: url(../../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.project-top h1 {
    margin-top: 0;
    color: white;
}

.profile-top {
    display: flex;
    min-height: 250px;
    justify-content: center;
    align-items: center;
}

.img-profile {
    border: 3px solid #999;
    margin: 10px auto;
    width: 100px;
    height: 100px;
}

.social {
    margin: 0;
}

#edit-profile {
    margin-top: 10px;
}


#nav-2 {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgrey;
    margin-bottom: 30px;
    margin-top: 10px;
}

#nav-2 a:link,
#nav-2 a:visited,
#nav-2 a:hover,
#nav-2 a:active {
    text-decoration: none;
    font-size: 1.8rem;
    color: #0D0D0D;
    text-transform: uppercase;
}

#nav-2 a:hover {
    border-bottom: 1px solid #0D0D0D;
}

.project-thumbnail:link,
.project-thumbnail:visited,
.project-thumbnail:hover,
.project-thumbnail:active {
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
    color: #0D0D0D;
    border: none;
}

.project-thumbnail img {
    width: 250px;
    height: 250px;
}

.project-details {
    position: absolute;
    left: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 1;
    width: 250px;
    height: 250px;
    background-color: rgba(255,255,255, 0);
    transition: all 0.25s ease-in-out;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.project-thumbnail:hover .project-details {
    background-color: rgba(255, 255, 255, 0.85);
}

.project-thumbnail .project-details p {
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.project-thumbnail:hover .project-details p {
    opacity: 1;
}

.title {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.description {
    font-size: 12px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.username {
    width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}




