.btn-primary {
    background-color: #1D9C73;
    border-color: #198663;
}

.btn-primary:hover {
    background-color: #198663;
    border-color: #157153;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    background-color: #157153;
    border-color: #157153;
}

.btn:focus, .btn:active:focus {
    outline: none;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #21b283;
}

.dropdown-menu>li>a:hover {
    color: #21b283;
    text-decoration: none;
}

.dropdown-menu>li>a.btn-logout:hover {
    color: crimson;
}

.dropdown-menu>li>a>i {
    height: inherit;
}

.pagination li a, .pagination li span, .pagination>.disabled>span {
    color: #1D9C73;
}

.pagination>.active>span, .pagination>.active>span:hover {
    background-color: #1D9C73;
    border-color: #198663;
}

.form-control:focus, .bootstrap-tagsinput:focus {
    border: 1px solid #EEEEEE;
    border-bottom: 1px solid #1D9C73;
    box-shadow: none;
}

.form-control, .bootstrap-tagsinput {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
    transition: all 0.2s ease-in;
}

.dropdown-menu {
    border-radius: 4px;
    top: 105%;
    border: 1px solid #EEEEEE;
}

.navbar-nav>li>.dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination {
    margin: 10px 0;
}
