*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.welcome {
    min-height: 50vh;
    background-image: url(../../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.jumbotron {
    background-color: rgba(240, 240, 240, 0.9);
    margin: 50px 0;
}

.jumbotron h1 {
    font-size: 50px;
}

.navbar {
    margin: 0;
    border: none;
}

.btn-search {
    border-radius: 0;
}

footer {
    background-color: #222;
    color: white;
    padding: 30px 15px;
    border-top: 3px solid #1d9c73
}

.ads {
    width: 100%;
}

.ads .ad {
    margin-left: 30px;
}

.ads .ad:last-child {
    margin-left: 0;
}

.login-form,
.signup-form,
.reset-form,
.reset-email-form {
    max-width: 400px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 4px;
    margin: 50px auto;
}

.add-project-form,
.edit-profile-form {
    max-width: 600px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 4px;
    margin: 50px auto;
}

.login-form h1,
.signup-form h1,
.reset-form h1,
.reset-email-form h1,
.add-project-form h1,
.edit-profile-form h1 {
    margin-top: 10px;
    font-size: 28px;
}

.login-page,
.signup-page,
.reset-page,
.reset-email-page,
.add-project-page,
.edit-profile-page {
    background-image: url(../../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    align-items: stretch;
    width:100%;
    flex: 1;
}

.spotlight-title {
    margin-bottom: 30px;
}

#spotlight, #projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 1450px;
    margin-bottom: 30px;
}

.spotlight-item, .project {
    margin: 0 15px 25px 15px;
}

.project-top, .developer-top, .reclam-top {
    background-image: url(../../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-top h1, .developer-top h1 {
    margin-top: 0;
    color: white;
}

.profile-top {
    display: flex;
    min-height: 250px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.img-profile {
    border: 3px solid #1d9c73;
    margin: 10px auto;
    width: 100px;
    height: 100px;
}

.social {
    margin: 0;
}

#edit-profile {
    margin-top: 10px;
}

#nav-2 {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #EEEEEE;
    margin-bottom: 30px;
}

#nav-2 li {
    font-size: 1.6rem;
    color: #0D0D0D;
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
    margin: 5px;
}

#nav-2 li:hover {
    background-color: #198663;
    border: 1px solid #157153;
    border-radius: 4px;
    color:white;
}

#nav-2 li:active {
    background-color: #157153;
    border: 1px solid #157153;
    border-radius: 4px;
    color:white;
}

#nav-2 li.active {
    background-color: #1D9C73;
    border: 1px solid #198663;
    border-radius: 4px;
    color: white;
}

#nav-2 a:hover {
    border-bottom: 1px solid #0D0D0D;
}

.user-projects-section,
.user-favorites-section,
.user-rewards-section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#rewards li {
    float: left;
    width: 174px;
    margin: 10px;
    background-color: white;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    transition: all 0.1s ease-in;
}

#rewards li:hover {
    z-index: 9999;
    transform: scale(1.05, 1.05);
}

.reward {
    width: 150px;
    height: 150px;
    opacity: 0.25;
    margin: 15px;
}

.rewarded {
    opacity: 1;
}

.project-thumbnail:link,
.project-thumbnail:visited,
.project-thumbnail:hover,
.project-thumbnail:active {
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
    color: #0D0D0D;
    border: none;
}

.project-thumbnail img {
    width: 250px;
    height: 250px;
}

.project-details {
    position: absolute;
    left: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 1;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.25s ease-in-out;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.project-thumbnail:hover .project-details {
    background-color: rgba(255, 255, 255, 0.85);
}

.project-thumbnail .project-details p {
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.project-thumbnail:hover .project-details p {
    opacity: 1;
}

.title {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.description {
    font-size: 12px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.username:link,
.username:visited,
.username:hover,
.username:active {
    width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: #1d9c73;
}

.username:hover {
    color: #198663;
}

.username:active {
    color: #157153;
}

.project-top-section {
    margin-top: 20px;
    margin-bottom: 15px;
}

.project-mid-left {
    clear: both;
}

.project-user-img {
    margin: 10px auto;
    width: 50px;
    height: 50px;
    float: left;
}

.project-title-section {
    float: left;
    margin: 10px 0px 10px 15px;
}

.project-title-section h1 {
    font-size: 20px;
    margin: 0 0 5px 0;
}

.project-title-section p {
    margin: 0;
}

.project-date {
    color: grey;
    margin: 10px;
}

.project-img {
    width: 545px;
    height: auto;
}

.project-info-list {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 50px;
    border-bottom: 1px solid #EEEEEE;
}

.project-info-list:last-child {
    border: none;
}

.project-info-list i {
    color: grey;
}

.project-info-list span, .project-colors, .project-tags {
    margin-left: 15px;
}

.project-colors a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.project-colors a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.project-colors a {
    height: 18px;
    width: 28px;
    display: block;
    float: left;
    transform-origin: center center;
}

.project-colors a:hover {
    z-index: 9999;
    transform: scale(1.25, 1.25);
    transform-origin: center center;
}

.project-tags a {
    font-size: smaller;
    padding: 3px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #EEEEEE;
    text-decoration: none;
    color: #222;
    margin-right: 3px;
}

.btn-delete i {
    color: white;
}

.btn-edit i {
    color: #0D0D0D;
}

.project-user-actions a,
.project-user-actions button,
.project-sharing * {
    margin-right: 10px;
}

.sharebtndetail span {
    margin: 0;
}

.project-comments-section  h3 {
    margin: 10px 0;
    font-size: 20px;
}

textarea {
    resize: vertical;
}

.project-comments-section textarea {
    margin-bottom: 10px;
}

.btn-comment {
    margin-bottom: 10px;
}

.project-comments {
    margin-bottom: 50px;
    clear: both;
    border-top: 1px solid #EEEEEE;
}

.project-no-comments {
    margin-bottom: 50px;
    padding-top: 10px;
    clear: both;
    border-top: 1px solid #EEEEEE;
}

.project-comments .project-comment:first-child {
    margin-top: 10px;
}

.project-comment {
    display: flex;
    align-items: flex-start;
    background-color: white;
    border-radius: 4px;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
}

.project-comment-user-img {
    margin-right: 1em;
    width: 50px;
    height: 50px;;
}

.project-comment-body {
    flex: 1;
}

.project-comment-body h4 {
    margin-top: 0;
}

.project-comment-body p {
    font-size: 14px;
}

#like-btn, #unlike-btn, #favorite-btn, #unfavorite-btn {
    border: none;
    background: none;
    width: auto;
    padding: 0;
    margin: 0;
    outline: none;
}

.file-upload {
    position: relative;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload-container {
    display: block;
}

#upload-file {
    display: inline-block;
    width: auto;
    cursor
}

/*api*/

.developer-top {
    background-image: url(../../images/bg5.jpg);
    color:white;
}

.api_container{
    width: 100%;
    height: 100%;
}

.api_container .info_api{
    margin-left: 20px;
    margin-top: 50px;
}

.info_api, .content_api_container{
    float: none;
}

.user_api_key_container{
    margin-bottom: 30px;
}
.user_api_key_container li input[type=text]{
    border: 2px solid grey;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    margin-top: 20px;
}

.user_api_key_container li label{
    margin-right: 12px;
}

.user_api_key_container span{
    font-size: 1.6rem;
    margin-top: 14px;
    margin-bottom: 14px;
    display: block;
}

.user_api_key_container button{
    background-color: lightgreen;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px;
}

.user_api_key_container button:hover{
    background-color: mediumspringgreen;
}

.api_container .remarkv1_api{
    margin-top: 40px;
}

/*Battles*/

.full_battle_container{
    width: 100%;
}

.full_battle_container li{
    list-style: none;
    color:black;
}

.battle_text_intro .intro{
    padding: 10px 40px 10px 40px;
}

.battle_text_intro p{
    margin-top: 20px;
    margin-left:40px;
}

.battle_container .col-md-2 span{
    color:black;
}

.battle_container .axe{
    width: 30px; height: 30px;
    display: inline-block;
    margin-top: -10px;
    margin-right: 20px;
}

.battle_container p{
    color: grey;
    padding:10px;
}

.battle_container h1{
    font-size: 25px;
}

.information_battle p{
    padding-top: 30px;
    margin-left: -5px;
}

.battle_container img{
    width: 100%;
}

.battle_container{
    padding: 10px 40px 10px 40px;
}

.battle_container li{
    padding: 0px;
    margin: 10px;
    background-color: #ebebeb;
}

.battle_container .add_proj_btn{
    margin-left: 0px;
    margin-top: 30px;
}

.battle_container a:link,
.battle_container a:visited,
.battle_container a:hover,
.battle_container a:active{
    color: white;
    display: block;
    padding: 8px;
    font-size: 1.6rem;
}

.battle_container .hartje{
    float: right;
}

.battle_container .row{
    margin-left: -45px;
}

.participate-btn{
    width: 120px;
    margin-left: 62px;
    border-radius: 30px;
    background-color: lightgreen;
    border: none;
}

.battle_container .no_submits{
    border: 1px black solid;
    width: 200px;
    margin-left: -20px;
}

/*useractivity*/
.activity_container{
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.activity_container .no_submits{
    border: 1px black solid;
    max-width: 500px;
    padding: 10px;
    margin-right: 30px;
}

.activity_container .no_submits .participate-btn{
    margin-left: 0px;
}

.activity_container .no_submits .add_proj_btn{

    margin-top: 30px;
}

.activity_container .list-group{
    list-style: none;
    margin-top: 30px;
}

.activity_container .list-group li{
    border-left: 2px solid #1d9c73;
    padding-left: 30px;margin-top: 30px;
}

/*------reclam (advertising view)------*/

.item_reclam_content{
    padding: 0;
    color: black;
    margin-top: 20px;
}
.item_reclam_content img{
    float: left;
    padding: 0;
    display: inline-block;
}
.wrapper_reclam{
    background-color: white;
    float: left;
    border: 1px solid #EEE;
    width: 99%;
    display: inline-block;
}

.info_reclam{
    margin-left: 20px;
    display: inline-block;
    width: 200px;
}

.reclam_container{
    color: white;
}

.content_reclam{
    margin-top: 20px;
    margin-bottom: 20px;
}

.reclam-top{
    text-align: center;
}

.reclam-top a:link,
.reclam-top a:visited,
.reclam-top a:hover,
.reclam-top a:active{
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

@media screen and (min-width: 720px) {
    /*api*/

    .user_api_key_container form{
        float: left;
    }

    .user_api_key_container .api_key_loop{
        list-style: none;
        margin-top: 17px;
        margin-left: 100px;
    }

    .user_api_key_container li input[type=text]{
        width: 400px;
        margin-top: 0px;
    }

    /*battles*/

    .full_battle_container {
        width: 750px;
        padding-top: 35px;
        margin-left: auto;
        margin-right: auto;
    }

    .battle_text_intro p{
        max-width: 800px;
    }

    .inactive .row{
        width: 700px;
    }

    .battle_container li{
        width: 200px;float:left;
    }

    /*useractivity*/

    .activity_container{
        padding-left: 0px;
        width: 300px;
        max-width: 400px;
        margin: 0 auto;
    }
}

