.battle_text_intro{
    padding: 10px 40px 10px 40px;
}

.battle_text_intro p{
    margin-top: 20px;
    margin-left:40px;
}

.battle_container .axe{
    width: 30px; height: 30px;
    display: inline-block;
    margin-top: -10px;
    margin-right: 20px;
}

.battle_container p{
    color: grey;
    padding:10px;
}

.information_battle{
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 13px;

}

.information_battle p{
    display: inline;
}

.battle_container img{
    width: 100%;
}

.battle_container{
    padding: 10px 40px 10px 40px;
}

.battle_container li{
    padding: 0px;
    margin: 10px;
}

.battle_container a:link,
.battle_container a:visited,
.battle_container a:hover,
.battle_container a:active{
    color: white;
    display: block;
    padding: 8px;
    font-size: 1.6rem;
}

.battle_container span{
    float: right;
}

.participate-btn{
    width: 120px;
    margin-left: 62px;
    border-radius: 30px;
    background-color: lightgreen;
    border: none;
}
