.advertising_container{
    max-width: 800px;
    min-width: 360px;
    margin: 0 auto;
}

.advertising_container{
    width: 100%;
}

.adver_container{
    height: 95%;
}

.adver_container a:link,
.adver_container a:visited,
.adver_container a:hover,
.adver_container a:active{
    padding: 10px;
    background-color: lightgreen;
    border-radius: 30px;
    font-size: 1.4rem;
    color: white;
}

.content_adver{
    float: none;
}

.advertising_container p{
    color: grey;
}
