html, body{
    width: 100%;
    height: 100%;
}

body{
    background-image: url(../images/0014.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    color:mediumspringgreen;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-brand{
    background-image: url("../images/Remark_logo_mini_white.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 31px;
    margin-top: 10px;
}

.navbar-default .navbar-header {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: lightgreen;
}

.navbar-default .navbar-header  {
    color: mediumspringgreen;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: lightgreen;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -5px;
    }


    .navbar-default {
        border-radius: 0px;
        border: none;
        border-color: rgba(255,255,255,3);
        background-color: transparent;
    }

    .navbar-default .navbar-header {
        color: lightgreen;
    }

    .navbar-default .navbar-header ,
    .navbar-default .navbar-header {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: lightgreen;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header,
    .navbar-default.affix .navbar-header  {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

.container{

    color: white;
    width: 100%;
    height: 100%;
    padding: 0;
}

.container span{
    color: whitesmoke;
}

.registrer{
    max-width: 800px;
    min-width: 360px;
    display: block;
    margin: 0 auto;
    background-color: rgba(0,0,0, 0.5);
    padding: 20px;
}

.header-content-inner{
    background-color: rgba(0,0,0, 0.5);
    padding: 40px 20px 40px 20px;
}

.btn{
    background-color: lightgreen;
    border: none;
    color: white;
    width: auto;
    border-radius: 100px;
}

.btn:hover{
    background-color: mediumspringgreen;
}

header {
    width: 100%;
    text-align: center;
    color: #fff;

}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

a:link,
a:visited,
a:hover,
a:active {
    color: lightgreen;
}

header a:link,
header a:visited,
header a:hover,
header a:active{
    background-color: lightgreen;
    border: none;
    font-size: 2rem;
    color: white;
    border-radius: 100px;
    padding: 14px;
}

header a:hover{
    background-color: mediumspringgreen;
}


header hr{
    background-color: lightgreen;
    height: 6px;
    width: 10%;
    border: none;
}


header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255, 1);
}

/*front spotlight*/
#spotlight{
    position: relative;
    color:black;
    margin-top: 0px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

#spotlight .input-group{
    width: 300px;
}

#spotlight .btn{
    height: 34px;
}

#spotlight h2{
    text-align: center;
    padding: 20px;
}

#spotlight .imagelist{
    margin-top: 20px;
}

#spotlight .imagelist p{
    padding-top: 10px;
    width: 300px;
}

#spotlight img{
    margin: 0 auto;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

.nav-pills>li{
    float:right;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer{
    text-align: center;
    bottom: 0px
    position: relative;
}

@media (min-width: 768px){
    .navbar-left {
        float: right!important;
    }

    .loginmini{
        position: absolute;
        width: 100%;
        max-width: 340px;
    }
}

.col-md-offset-4{
    background-color: whitesmoke;
}