html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    /*background-image: url(../images/0014.jpg);*/
    background-color: whitesmoke;
}

body ul{
    list-style-type: none;
}

.container{
    color: black;
    width: 100%;
    height: 100%;
    padding: 0;
}

.container h1{
    margin-left: 40px;
    color: black;
}

/*-------animation-------*/
.animation-bounce{
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count:  infinite;
}

@keyframes bounce {
    100% {transform: translateY(0);}
    4% {transform: translateY(-15px);}
    6% {transform: translateY(+15px);}
    10% {transform: translateY(0);}
}

@keyframes notification {
    100% {transform: translateY(0);}
    4% {transform: translateY(-4px);}
    6% {transform: translateY(+4px);}
    10% {transform: translateY(0);}
}

/*-------navigatie-------*/

.navbar-default {
    background-color: #333;
    border-color: #e7e7e7;
}

.navbar-default li span{
    animation-name: notification;
    animation-duration: 4s;
    animation-iteration-count:  infinite;
    position: absolute;
    width: 16px;
    color: black;
    height: 16px;
    top:2px;
    font-size: 1rem;
    right: 0px;
    background-color: white;
    border-radius: 100px;
    text-align: center;
}

.navbar-default .nav-notification li span{
    animation-name: none;
    position: inherit;
    width: 25px;
    color: whitesmoke;
    background-color: transparent;
    height: 25px;
    font-size: 1.5rem;
    border-radius: 100px;
    text-align: center;
}

.notifications{
    color: white;
}

.nav-notification{
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand{
    background-image: url("../images/Remark_logo_mini_white.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 31px;
    margin-left: 20px;
    margin-top: 10px;
}
li.active {
    background-color: #333;
}

.navbar-default .navbar-nav>li>a {
    color: lightgreen;
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
    }
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

@media (min-width: 768px){
    .navbar-left {
        float: right!important;
    }

    .loginmini{
        position: absolute;
        width: 100%;
        max-width: 340px;
    }
}


/*------register------*/
.container{
    width: 100%;
    height: 100%;
    padding: 0;
}
.container .projects-container img{
    width: 100%;
}

.container span{
    color: whitesmoke;
}

.activity, .registrer{
    max-width: 800px;
    min-width: 360px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.btn{
    background-color: lightgreen;
    border: none;
    color: white;
    width: auto;
    border-radius: 100px;
}

.btn:hover{
    background-color: mediumspringgreen;
    color: white;
}

.header-content-inner{
    background-color: white;
    padding: 40px 20px 40px 20px;
}



header {
    width: 100%;
    text-align: center;
    color: #333;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

a:link,
a:visited,
a:hover,
a:active{
    color: lightgreen;
}

a:hover{
    color: mediumspringgreen;
}

header a:link,
header a:visited,
header a:hover,
header a:active{
    background-color: lightgreen;
    border: none;
    font-size: 2rem;
    color: white;
    border-radius: 100px;
    padding: 14px;
}


header hr{
    background-color: lightgreen;
    height: 6px;
    width: 10%;
    border: none;
}


header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
}

/*front spotlight*/
#spotlight{
    position: relative;
    color:black;
    margin-top: 0px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

#spotlight .input-group{
    width: 300px;
}

#spotlight .btn{
    height: 34px;
}

#spotlight h2{
    text-align: center;
    padding: 20px;
}

#spotlight .imagelist{
    margin-top: 20px;
}

#spotlight .imagelist p{
    padding-top: 10px;
    width: 300px;
}

#spotlight img{
    margin: 0 auto;
}

.frontlikebtn{
    position: absolute;
    margin-left: -200px;
    margin-top: 250px;
}

.frontfavbtn{
    position: absolute;
    margin-left: -140px;
    margin-top: 250px;
}

/*/projects*/

.gallery ul{list-style: none;}

.gallery .projecttitle
{
    font-size: 25px;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

/*------login------*/

.content-box{
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
    background-color: white;
    padding: 20px;
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.account-wall{
    padding: 20px;
    color: #373737;
}

h1.text-center.login-title{
    color: #373737;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
     margin-right: 0px;
     margin-left: 0px;
}

/*------addprojects-------*/
.add-project-container{
    width: 50%;
}

/*-----project------*/
a.btn.btn-primary.plus-project{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 40px;
    padding-bottom: 10px;
    padding-top: 0px;
}

a.btn.btn-primary.plus-project span{
    font-size: 3rem;
    width: 30px;
    height: 30px;
}

.project button{
    float: right;
    margin-top: -30px;
}

.project p{
    margin-top: 20px;
}

.projects-container{
    width: 95%;
    Margin:0 auto;
}

.projects-container li{
    margin: 10px;
    min-width: 320px;
}

.project a:link,
.project a:visited,
.project a:hover,
.project a:active{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

li a:hover{
   color:white !important;
}

.plus-project a{
    margin-left: 30px;
}

.projects-title{
    width: 100%;
    padding: 10px;
    background-color: #333;
}

input[type=checkbox]{
    margin-right: 10px;
}
/*----------details project---------*/

.detail_container{
    width: 65%;
    padding: 20px;
    margin: 0 auto;
    background-color: #f7f7f7;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
}

.detail_container ul{
    width: 50%;
    height: 300px;
    display: inline-block;
    margin-top: 20px;
}

.detail_container li{
    padding: 6px 10px 6px 10px;
 }

.detail_container h2{
    margin-top: 0px;
    margin-bottom: 20px;
}

.border-bottom-info{
    border-bottom: 1px solid #e7e7e7;
}

.project-info-text{
    width: 50%;
    float: left;
}

.tag-border{
    background-color: #e7e7e7;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
}

.detail_container p{
    width: 320px;
    padding-top: 10px;
    margin-top: 20px;
    display: inline-block;
}

.detail_container img{
    width: 320px;
    float: left;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
}

.detail_container span{
    margin-top: 4px;
    margin-right: 10px;
    font-size: 1.5rem;
    color: #9D9D9D;
    float: left;
    line-height: 1.5rem;
}

.detail_container span:first-child{
    float: none;
    display: block;
}

.project-info-text .img-circle{
    width:60px;
    display: block;
    margin-right: 10px;
    padding: 5px;
    background-color: white;
}

.detail_container .pallets {
    width: 200px;
}

.clearfix{
    clear: both;
}

.detail_container .pallets .pallet-styling{
    width: 33px;
    height: 18px;
    margin: 4px 0px 4px 0px;
    float: left;
}

.project-info a:link,
.project-info a:visited,
.project-info a:hover,
.project-info a:active{
    color: grey;
}

.project-info a:hover{
    color: darkgrey !important;
    text-decoration: none;
}

.project-info .pallets a:link,
.project-info .pallets a:visited,
.project-info .pallets a:hover,
.project-info .pallets a:active {
    text-indent: -999px;
}

.project-info .pallets a:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

/*---------------*/

footer{
    text-align: center;
    bottom: 0px
    position: relative;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

/*--------------profile page -------------------*/

#profilepicture{
     width: 100px;
     height: 100px;
     display: block;
     margin-right: auto;
     margin-left: auto;
     padding: 5px;
     background-color: white;
 }

#basicinfo{
    text-align: center;
}

#user{
    font-size: 20px;
    color: darkslategrey;
    font-weight: bold;
    text-decoration: none;
    margin-top: 15px;
}

.socialmedia{
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: block;
    text-indent: -9999px;
    opacity: 0.8;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.socialmedia:hover{
    opacity: 1;
}

#socialmediadiv{
    width: 135px;
    margin-right: auto;
    margin-left: auto;
}

#edit{
    display: block;
    clear: both;
}

#facebook{
    background-image: url("../images/facebook.png");
}

#twitter{
    background-image: url("../images/twitter.png");
}

#website{
    background-image: url('../images/website.png');
}

hr{
    clear: both;
}

.projectimages{
    display: block;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#updateform{
    padding: 15px;
    background-color: white;
    margin-bottom: 25px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
}

@media screen and (min-width: 700px) {
    #allwork{
        width: 630px;
        margin-right: auto;
        margin-left: auto;
    }
    .projectimages{
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }

    #updateform{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

}

@media screen and (min-width: 900px) {
    #allwork{
        width: 840px;
        margin-right: auto;
        margin-left: auto;
    }
    .projectimages{
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }
    #updateform{
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    .detail_container {
        width: 65%;
    }
}

@media screen and (min-width: 1100px) {
    #allwork{
        width: 1050px;
        margin-right: auto;
        margin-left: auto;
    }
    .projectimages{
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }
    #updateform{
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

}

@media screen and (min-width: 1300px) {
    #allwork{
        width: 1260px;
        margin-right: auto;
        margin-left: auto;
    }
    .projectimages{
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.col-md-offset-4{
    background-color: whitesmoke;
}

.notificationlist{margin-top: 30px;}
.notificationlist p{color:black;}
.notificationlist span{color:black;}
